.lista {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
     width: 100%;
     justify-content: center;
}
.b-film{
    width: 15rem;
    
}
.b-image{
    width:100%;
    

}




.b-title3{
    margin-left:2rem
}